<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if page.title}}
      {{page.title}} |
    {{/if}}
    {{site.title}}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{css-tags}}
  {{>typekit}}
  </head>
  <body>
    {{>header}}

    {{{yield}}}

    {{>footer}}

    {{javascript-tags}}

    <script src="//use.typekit.net/cxt8oid.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>
